.carousal-caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
    }
    hero-section{
        position: relative;
    }
    .inner-layer {
        background-color: rgba(0, 0, 0, 0.7);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0%;
    }
    .primary-navbar{
      border-bottom: 1px solid rgb(235, 227, 227);
    }
    .carousel-caption{
      top: 40%;
    }